.body{
    max-height: 800px;
}

.bg{
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.caption{
    text-align: center;
    font-family: 'Jaldi', sans-serif;
    margin-top: 35vh;
    margin-bottom: 35vh;
    text-shadow: 5px 5px 5px grey;
}
.btn{
    border-radius: 20px;
    color: white;
    border-color: white;
    font-weight: bold;
    border-width: 3px;
}
.caption h1{
    font-size: 60px;
}
.nav-link{
    color: white;
    font-family: 'Jaldi', sans-serif;
}
.cardhome{
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.cardcafe{
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.card-container {
    display: flex; /* Menggunakan Flexbox untuk mengatur elemen card dalam baris */
     /* Membuat jarak antara card secara merata */
    flex-wrap: wrap; 
   /* Jika elemen lebih banyak dari yang bisa muat pada satu baris, maka wrap ke baris berikutnya */
}

.card {
    color: white;
    flex: 0 0 calc(20% - 15px); /* Mengatur lebar card, dengan sedikit ruang di antara (misalnya, 20px) */
    margin-top: 100px;
    margin-left: 50px ;
    margin-right: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.card-search{
    padding-top: 20px;
    margin-left: 25px;
}
.row{
    color: white;
}
.besar{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: 500px;
}
.card-img-top{
    align-self: center;
    margin-top: 5px;
    width: 245px;
    height: 200px;
}